$footer-hidden-on-print: true !default;
$footer-heart-color: $lighter-red !default;
$footer-heart-pulse-animation: true !default;
$footer-gutter: 30px !default;
$footer-copyright-color: $text-color-secondary !default;
$footer-copyright-fontsize: 13px;