@font-face {
    font-family: 'fine_collegeregular';
    src: url('../fonts/fine_college-webfont.eot');
    src: url('../fonts/fine_college-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fine_college-webfont.woff') format('woff'),
         url('../fonts/fine_college-webfont.ttf') format('truetype'),
         url('../fonts/fine_college-webfont.svg#fine_collegeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fine_collegeregular
{
	font-family: "fine_collegeregular",Georgia,"Times New Roman",Serif;
}

html, body
{
	height:100%;
	background: #22475e;
	background: -moz-linear-gradient(top, #22475e 0, #22475e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#22475e), color-stop(100%,#22475e));
	background: -webkit-linear-gradient(top, #22475e 0,#22475e 100%);
	background: -o-linear-gradient(top, #22475e 0,#22475e 100%);
	background: -ms-linear-gradient(top, #22475e 0,#22475e 100%);
	background: linear-gradient(to bottom, #22475e 0,#22475e 100%);
}
input, textarea
{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus, textarea:focus
{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

img
{
	max-width: 100%;
}

.clear-fix
{
	clear: both;
}
.white
{
	color: #fff;
}
.font-30
{
	font-size: 30px;
}
.font-40
{
	font-size: 40px;
}
.font-30em
{
	font-size: 30em;
}
.font-21em
{
	font-size: 21em;
}
.noborder
{
	border: 0;
}
.nomargin
{
	margin: 0;
}

div.container-portfolio
{
	max-width: 1340px;
	margin: auto;
}

section.josephportfolio
{
	position:relative;
	min-height: 553px;
	width:100%;	
	/*background: #FF3B00;*/
	background: #ff191b;
	background: -moz-linear-gradient(top, #ff191b 0, #ff191b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ff191b), color-stop(100%,#ff191b));
	background: -webkit-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: -o-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: -ms-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: linear-gradient(to bottom, #ff191b 0,#ff191b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff191b', endColorstr='#ff191b',GradientType=0 );
	-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}
section.footer ul.social-container
{
	margin-bottom: 0;
}
section.footer
{
	position:static;
	bottom:0;
	width:100%;
	padding: 10px 5px;
	color: #fff;
	height: 90px;
	max-height: 90px;
	border-top: solid 1px #8A8A8A;
	background: #22475e;
	background: -moz-linear-gradient(top, #22475e 0, #22475e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#22475e), color-stop(100%,#22475e));
	background: -webkit-linear-gradient(top, #22475e 0,#22475e 100%);
	background: -o-linear-gradient(top, #22475e 0,#22475e 100%);
	background: -ms-linear-gradient(top, #22475e 0,#22475e 100%);
	background: linear-gradient(to bottom, #22475e 0,#22475e 100%);
}
section.footer *
{
	opacity: 1;
}
section.footer > ul
{
    width:960px;
    position:fixed;
    left:50%;
    bottom:0;
    margin-left:-480px;
    padding-bottom: 60px;
    z-index:-1;
}
section.footer > ul > li{
    width:25%;
    float:left;
}

section.footer ul{
    list-style: none;
}

section.footer > ul > li ul li{
    margin-left:43px;
    text-transform: uppercase;
    font-weight:bold;
    line-height:1.8;
}

section.footer > ul > li ul li a{
    text-decoration: none !important;
    color:#7d8691 !important;
}

section.footer > ul > li ul li a:hover{
    color:#ddd !important;
}

section.footer a.copyright
{
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	margin-right: 12px;
	display: inline-block;
	margin-top: 7px;
	vertical-align: text-top;
}

section.footer p
{
	width: 245px;
	margin-right: 10%;
	padding: 9px 0;
	line-height: 18px;
	background-color: #058cc7;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	margin-bottom: 20px;
	opacity: 1;
	cursor: default;
	margin: 0;
}
section.footer p:hover
{
	opacity: 0.8;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
section.footer p.sobre{
	background: #ff191b;
	background: -moz-linear-gradient(top, #ff191b 0, #ff191b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ff191b), color-stop(100%,#ff191b));
	background: -webkit-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: -o-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: -ms-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: linear-gradient(to bottom, #ff191b 0,#ff191b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff191b', endColorstr='#ff191b',GradientType=0 );
	border: solid 1px rgba(0, 0, 0, 0.48);
}

section.footer p.siga{
	background-color: #00b274;

	background-image:-webkit-linear-gradient(top, #00b274, #00a46b);
	background-image:-moz-linear-gradient(top, #00b274, #00a46b);
	background-image:linear-gradient(top, #00b274, #00a46b);
}


.social-icons
{
	margin: 5px 0 0 0;
	padding: 0;
}
.social-icons li
{
	list-style: none;
	margin-right: 3px;
	display: inline-block;
}
.social-icons li a, a.social-icon
{
	width: 35px;
	height: 35px;
	padding: 3px;
	display: block;
	color: #22475e;
	text-align: center;
	font-size: 25px;
	line-height: 32px;
	/*background: #ff191b;
	background: -moz-linear-gradient(top, #ff191b 0, #ff191b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ff191b), color-stop(100%,#ff191b));
	background: -webkit-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: -o-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: -ms-linear-gradient(top, #ff191b 0,#ff191b 100%);
	background: linear-gradient(to bottom, #ff191b 0,#ff191b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff191b', endColorstr='#ff191b',GradientType=0 );*/
	background: #fff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.social-icons li:hover a
{
	text-decoration: none;
	opacity: 0.5;
}
.scrollTo
{
	text-align: center;
}

.navbar-portfolio
{
	background: #22475e; /* Old browsers */
	background: -moz-linear-gradient(top,  #22475e 0, #22475e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#22475e), color-stop(100%,#22475e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #22475e 0,#22475e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #22475e 0,#22475e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #22475e 0,#22475e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #22475e 0,#22475e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22475e', endColorstr='#22475e',GradientType=0 ); /* IE6-9 */

	border-color: #202020;
	margin-bottom: 0;
}
.navbar-portfolio .navbar-brand, .navbar-portfolio .navbar-nav>li>a
{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.navbar-portfolio .navbar-toggle
{
	border-color: #FFF;
	
	background: #ff191b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff191b 0, #ff191b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ff191b), color-stop(100%,#ff191b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff191b 0,#ff191b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff191b', endColorstr='#ff191b',GradientType=0 ); /* IE6-9 */
	
	margin-right: 20px;
	margin-top: 20px;
}
.navbar-portfolio .navbar-collapse, .navbar-portfolio .navbar-form
{
	border-color: #101010;
}
.navbar-portfolio .navbar-nav>.active>a
{
	background: #ff191b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff191b 0, #ff191b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ff191b), color-stop(100%,#ff191b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff191b 0,#ff191b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff191b', endColorstr='#ff191b',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
	text-shadow: 1px 1px #000;
}
.navbar-portfolio .navbar-nav>.active>a, .navbar-portfolio .navbar-nav>.active>a:hover, .navbar-portfolio .navbar-nav>.active>a:focus, .navbar-portfolio .navbar-nav li a:hover {
	background: #ff191b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff191b 0, #ff191b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ff191b), color-stop(100%,#ff191b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff191b 0,#ff191b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff191b 0,#ff191b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff191b', endColorstr='#ff191b',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
	text-shadow: 1px 1px #000;
}
.navbar-portfolio .navbar-nav li a
{
	color: #fff;
	text-shadow: 1px 1px #000;
	text-align: center;
}

.navbar-portfolio .navbar-header .navbar-toggle .icon-bar
{
	background-color: #fff;
}

section.conteudo ul li.pagina
{
	list-style: none;
	float: left;
	display: inline;
}
section.conteudo
{
	min-height: 550px;
	position: relative;
	overflow: hidden;
	width: 1270px !important;
}
section.conteudo .slider
{
	min-width: 100%;
	float: left;	
	padding: 10px;
}
section.conteudo .slider h2.texto-inicio
{
	color: #fff;
	font-size: 6em;
	margin-bottom: 0;
	padding-bottom: 0;
	-moz-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	-webkit-text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	text-transform: uppercase;
	text-align: center;
	text-shadow: 5px 17px 6px rgba(0, 0, 0, 1);
}
section.conteudo .slider h3.texto-sub-inicio
{
	color: #fff;
	font-size: 32px;
	font-family: Helvetica, Arial;
	text-shadow: 1px 2px 1px #000;
	line-height: 33px;
}

.btn-iniciar
{
	width: 326px;
	height: 74px;
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}

.btn-proximo
{
	width: 244px;
	height: 54px;
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}

.textarea-form-contato
{
	width: 598px;
	height: 150px;
	min-width: 598px;
	min-height: 150px;
	max-width: 598px;
	max-height: 150px;
}

.colorgraph
{
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

fieldset.box-portfolio-inicio
{
	width: 782px;
}

fieldset.box-portfolio
{
	background: #fff;
	padding: 10px;
	border-bottom: 1px solid #DEDEDE;
	box-shadow: 0 1px 4px #000000;
	color: #2D3033;
	text-shadow: none;
	transition: background-color 0.25s ease 0s;
}

fieldset.box-portfolio legend
{
	background: #fff;
	border-radius: 10px;
	border-bottom: none;
	text-align: center;
	font-weight: bold;
	font-size: 29px;
	font-family: Tahoma;
	margin-bottom: -20px;
}
.checkbox
{
  margin: 30px 0 0 0;
}

@media (max-width: 767px)
{
	.container-portfolio
	{
		width: 100% !important;
	}
	.navbar-portfolio
	{
		height: 73px;
	}
	.navbar-portfolio .navbar-collapse
	{
		margin-top: 11px;
		max-height: 450px;
	}
	.navbar-portfolio .navbar-nav
	{
		margin-top: 0px;
	}
	.navbar-portfolio .navbar-nav li a 
	{
		background: #22475e;
		background: -moz-linear-gradient(top, #22475e 0, #22475e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#22475e), color-stop(100%,#22475e));
		background: -webkit-linear-gradient(top, #22475e 0,#22475e 100%);
		background: -o-linear-gradient(top, #22475e 0,#22475e 100%);
		background: -ms-linear-gradient(top, #22475e 0,#22475e 100%);
		background: linear-gradient(to bottom, #22475e 0,#22475e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22475e', endColorstr='#22475e',GradientType=0 );
	}
	section.conteudo .slider
	{
		max-width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	section.conteudo fieldset.box-portfolio
	{
		width: 100% !important;
	}
	section.footer
	{
		position: static !important;
	}
	section.conteudo .texto-sub-inicio
	{
		text-align: left !important;
		font-size: 2em !important;
		white-space: initial !important;
	}
	section.conteudo .texto-inicio
	{
		font-size: 5em !important;
		text-align: left !important;
	}
	ul.social-container 
	{
		margin-left: -17px;
	}
	.col-lg-8
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}